       <!--

      
       <div *ngIf="errorFetchingData">Erorr loading slopes</div>
       <app-loader *ngIf="!slopeList"></app-loader>
        <div  class="row text-center">
            <!-- If there are shared trips in the database display each of them

            <!-- trip #1 
            <div *ngFor="let slope of slopeList" class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top"
                        src="https://www.audi.bg/media/Theme_Menu_Model_Dropdown_Item_Image_Component/root-bg-model-modelMenu-editableItems-20246-dropdown-92336-image/dh-487-a0e9a6/9896f0b2/1585833686/audi-a5-sportback-2020.jpg"
                        alt="">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fas fa-route"></i><span>{{slope.themeName}}</span></h5>
                        <h5 class="mt-4 card-info"><i class="far fa-calendar-alt"></i> Date: <span>{{slope.created_at}}</span>
                        </h5>
                        <h5 class="mt-4 card-info"><i class="far fa-clock"></i> Username: <span>{{slope.userId.username}}</span></h5>
                        <h5 class="mt-4"><i class="fas fa-hand-holding-usd"></i> Price: <span>25</span> BGN</h5>
                        <button class="subscribe">Subscribe</button> 
                                    <p>Subscribers: <span>{{slope.subscribers.length}}</span></p>
                    </div>
                    <div class="card-footer">
                        <a href="" class="btn btn-primary">Details</a>
                    </div>
                </div>
            </div>
            
            <!-- If there are no shared trips in the database
            <div class="no-trips">
                <img src="https://www.stagweb.co.uk/img/activities/big/sexyhitchhiker1.jpg" />
                <p class="lead">Hitchhiker time...</p>
            </div>
        </div>

    -->

        <div *ngFor="let slope of slopeList" class="card-home">
            <h2>{{slope.themeName}}</h2>
            <h5>{{slope.userId.username}}</h5>
            <div class="cta-container"><a href="#" class="details-link">Details</a></div>
            <div class="card_image"><img  src="https://www.audi.bg/media/Theme_Menu_Model_Dropdown_Item_Image_Component/root-bg-model-modelMenu-editableItems-20246-dropdown-92336-image/dh-487-a0e9a6/9896f0b2/1585833686/audi-a5-sportback-2020.jpg"></div>

        </div>

      