<nav>
    <ul>
        <a href="#">Home</a>
        <li><a href="#">Housing for rent</a></li>
        <!-- Guest users -->
        <li><a *ngIf="!isLoggedIn"  routerLink="/auth/login">Login</a></li>
        <li><a *ngIf="!isLoggedIn"  routerLink="/auth/register">Register</a></li>
        <!-- Logged users -->
        <li><a *ngIf="isLoggedIn" href="#">Create offer</a></li>
        <li><a *ngIf="isLoggedIn" routerLink="/auth/profile">Profile</a></li>
        <li><a  *ngIf="isLoggedIn" routerLink="/auth/logout">Logout as {{user?.username}}</a></li>
    </ul>
</nav>
